LCStretchableHeaderViewController.xcodeproj/xcuserdata/
LCStretchableHeaderViewController.xcworkspace/
Pods/
*.swp
Podfile.lock
.DS_Store
LCStretchableHeaderViewController.xcodeproj/project.xcworkspace/xcuserdata/
